flask
flask_sqlalchemy
flask_login
werkzeug
torch
torchvision
pillow
numpy
pandas
matplotlib
requests
python-dotenv
google-generativeai
gunicorn
scikit-learn
opencv-python
leafmap
folium
google-generativeai
groq
